    /* Large Desktop */
    @media (min-width: 980px) {
		  body {
			  padding-top: 60px;
			  border-right: 1px white solid;
			}  
		}
		
		@media (max-width: 768px) {
			body {
				padding: 0;
			}
			 .navbar-inverse .navbar-inner {
				padding: 0 50px;
				border-bottom: 1px solid #515d66 !important;
			}
			
			.feature {
				padding: 0 30px;
			}
			
			.quotetext,
			#faq {
				padding: 0 20px
			}
			
			h3#faq {
				padding: 0;
			}
		}

    /* Landscape phones and down */
    @media (max-width: 488px) {
      .copy {
		  padding: 2.5% 10%;
			}
			
		  .navbar-inverse .navbar-inner {
		    border-bottom: 1px solid #515d66 !important;
			}
	  }

    /* Main body and headings */      
    
    body {
        font-family: 'Open Sans', Helvetica,Arial,san-serif;		
    }
      
    .navbar-inverse .navbar-inner {
	    background: #464C3E;
		  border-bottom: 1px solid #515d66;
    }
      
    a.brand {
	    color: #fff !important;
    }
      
    .container {
	    width: 100%;
    }

      .mainsection {
        height: 500px;
        background: #e5e5e5;
        background-image: url('/images/myers.jpg');
        background-size: 100%; auto;
        background-position: center 75%;
        background-repeat: no-repeat;
      }

      h1 {
        font-size: 60px;
        margin-top: 90px;
        text-shadow: 1px 0px 5px #000;
        color: #fff;
        z-index: 20;
        position: relative;
      }
      
      h2 {
        font-size: 32px;
        text-shadow: 1px 0px 5px #000;
        font-family: Ubuntu, sans-serif;
        color: #000;
        text-align: center;
        z-index: 20;
        position: relative;
      }

      .statement {
        background: #606D5B;
      }
      
      .heading {
	      /* background: #ccc; */
	      margin-top: -1.4em;
	      padding-top: 2em;
	      z-index: 20;
		    position: relative;
      }
      
      #about {
        font-size: 32px;
        margin-top: 50px;
        font-family: Ubuntu, sans-serif;
        color: #2babe2;
        text-align: center;
        z-index: 20;
        position: relative;
      }
      
      .heading, subheading {
        font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	      text-align: center;
	      z-index: 20;
        position: relative;
      }

      p.lead {
        /*padding-top: 1.5%;*/
        text-shadow: 1px 0px 5px #000;
	      text-align: center;
	      font-size: 32px;
	      line-height: 30px;
	      color: #fff;
	      z-index: 20;
        position: relative;
      }

      p.definition {
        font-family: sans-serif;
        font-style: italic;
        font-size: 2.0em;
        text-align: left;
        line-height: 1.0em;
        color: #fff;
        position: relative;
      }
      
      p.introtext {
        margin-top: 15px;
        font-family: sans-serif;
        font-size: 1.3em;
        text-align: left;
        line-height: 48px;
        line-height: 1.5em;
        color: #fff;
        position: relative;
      }

      p {
        font-size: 18px;
	      line-height: 24px;
	      color: #333;
	      text-align: left;
      }	
  
      #aboutvetro {
        margin-top: 10px;
      }

      .borderbox {
        margin-top: 40px;
        -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
        border-radius: 5px;
      }
	  
	  .information {
		  background: #fff;
		  position: relative;
	  }
    
    .accordian-heading {
	    font-size: 1.2em;
	    margin-bottom: 20px;
    }
    
    a.accordian-toggle {
	    color: #026792;
      font-family: 'Open Sans', Helvetica, sans-serif;
    }

    .collapse {
	    font-size: 1.2em;  
    }

    .accordian-inner {
	   padding: 0 50px 20px 20px;
	   line-height: normal;
    }
	  
	  /*FORM*/
	  .form-bkgrd {
		 background: #000;
		 margin: 0;
		 padding-top: 3%;
		 z-index: 20;
		 position: relative;
	  }
	  
	  .form-horizontal .controls {
      	margin: auto;
	  }

    .footer {
      background: #000;
      color: #cccccc;
      text-align: center;
      z-index: 20;
		  position: relative;
    }

    .footer p {
      font-size: 11px;
      color: #ccccff;
      text-align: center;
    }
    
    .footer a {
      color: #ffffff;
    }

    div.addthis_toolbox {
      width: 188px;
      margin: 0 auto;
    }
      
      .copyright > p > span {
	      color: #666;
	      margin: 0 10px;
      }
