    /* Large Desktop */
    @media (min-width: 980px) {
		  body {
			  padding-top: 60px;
			  border-right: 1px white solid;
			}  
		}
		
		@media (max-width: 768px) {
			body {
				padding: 0;
			}

      .navbar-inverse .navbar-inner {
        padding: 0 50px;
        border-bottom: 1px solid #515d66 !important;
      }

			.feature {
				padding: 0 30px;
			}
		}

    /* Landscape phones and down */
    @media (max-width: 488px) {
      .copy {
		  padding: 2.5% 10%;
			}
	  }

    /* Main body and headings */      
    
    body {
        font-family: 'Open Sans', Helvetica,Arial,san-serif;		
    }
      
    .navbar-inverse .navbar-inner {
	    background: #5C6C6B;
      border-bottom: 1px solid #515d66i !important;;
      height: 50px;
    }

     .navbar-inverse .brand, .navbar-inverse .nav>li>a {
      color: #f4f4f4;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
     }

    a.brand {
      color: #000;
      padding-top: 15px !important;
    }

    .container {
	    width: 100%;
    }

    .mainsection {
      height: 500px;
      background: #e5e5e5;
      background-image: url('/images/myers.jpg');
      background-size: 100%; auto;
      background-position: center 75%;
      background-repeat: no-repeat;
    }

    h1 {
      font-size: 60px;
      margin-top: 90px;
      font-family: Ubuntu, sans-serif;
      text-shadow: 1px 0px 5px #000;
      color: #fff;
      z-index: 20;
      position: relative;
    }
      
      h2 {
        font-size: 32px;
        font-family: Ubuntu, sans-serif;
        color: #000;
        text-align: center;
        z-index: 20;
        position: relative;
      }

      h2#reuniontext {
        margin-top: 50px;
        font-size: 32px;
        font-family: Ubuntu, sans-serif;
        color: #000;
        text-align: center;
        z-index: 20;
        position: relative;
      }

      h2#faqtext {
        margin-top: 50px;
        text-align: left;
      }

      .statement {
        background: #fafafa;
      }
      
      .heading {
	      /* background: #ccc; */
	      margin-top: -1.4em;
	      padding-top: 2em;
	      z-index: 20;
		    position: relative;
      }
      
      #about {
        font-size: 32px;
        margin-top: 50px;
        font-family: Ubuntu, sans-serif;
        color: #2babe2;
        text-align: center;
        z-index: 20;
        position: relative;
      }
      
      .heading, subheading {
        font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	      text-align: center;
	      z-index: 20;
        position: relative;
      }

      p.lead {
        /*padding-top: 1.5%;*/
        text-shadow: 1px 0px 5px #000;
	      text-align: center;
	      font-size: 32px;
	      line-height: 30px;
	      color: #fff;
	      z-index: 20;
        position: relative;
      }

      p.definition {
        font-family: sans-serif;
        font-style: italic;
        text-align: left;
        line-height: 1.5em;
        font-size: 1.75em;
        color: #000;
        position: relative;
      }
      
      p.introtext {
        margin-top: 15px;
        font-family: sans-serif;
        font-size: 1.3em;
        text-align: left;
        line-height: 48px;
        line-height: 1.5em;
        color: #000;
        position: relative;
      }

      p {
        font-size: 18px;
	      line-height: 24px;
	      color: #333;
	      text-align: left;
      }	
      
			p.scheduletext {
				padding: 0 20px
        font-size: 20px;
	      line-height: 24px;
	      color: #f000;

			}

      li {
        font-size: 18px;
        font-family: sans-serif;
        line-height: 30px;
        color: #000;
        margin-bottom: 20px;
      }

      #aboutvetro {
        margin-top: 10px;
      }

      .borderbox {
        margin-top: 40px;
        -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
        border-radius: 5px;
      }
	  
	  #information {
		  background: #E6E5CD;
		  position: relative;
      padding: 5px 0px 30px 0px;
	  }
    
    .accordian-heading {
	    font-size: 1.2em;
	    margin-bottom: 20px;
    }
    
    a.accordian-toggle {
	    color: #000;
      font-family: 'Open Sans', Helvetica, sans-serif;
    }

    .collapse {
	    font-size: 1.2em;  
    }

    .accordian-inner {
	   padding: 0 50px 20px 20px;
	   line-height: normal;
     color: #666666;
    }

	  #buffalo {
		  background: #fafafa;
      padding: 5px 0px 30px 0px;
	  }

		p.buffalosubtext {
				padding: 0 20px
        font-size: 20px;
	      line-height: 24px;
	      color: #f000;
        text-align: center;

			}

    h2#buffalotext {
      margin-top: 55px;
      font-size: 32px;
      font-family: Ubuntu, sans-serif;
      color: #000;
      text-align: center;
      z-index: 20;
      position: relative;
      }


    h3#buffalothings {
      font-family: Ubuntu, sans-serif;
      color: #000;
      }

    #video {
      padding: 50px 0px 30px 0px;;
      background: #E6E5CD;
    }

    p#signoff {
      margin-top: 100px;
      font-size: 32px;
      font-family: Ubuntu, sans-serif;
      color: #000;
      text-align: center;
      line-height: 42px;
    }

	  /*FORM*/
	  .form-bkgrd {
		 background: #000;
		 margin: 0;
		 padding-top: 3%;
		 z-index: 20;
		 position: relative;
	  }
	  
	  .form-horizontal .controls {
      	margin: auto;
	  }

    .footer {
      background: #000;
      color: #cccccc;
      text-align: center;
      z-index: 20;
		  position: relative;
    }

    .footer p {
      font-size: 11px;
      color: #ccccff;
      text-align: center;
    }
    
    .footer a {
      color: #ffffff;
    }

    div.addthis_toolbox {
      width: 188px;
      margin: 0 auto;
    }
      
      .copyright > p > span {
	      color: #666;
	      margin: 0 10px;
      }
