      /* Large Desktop */
      @media (min-width: 980px) {
		  body {
			  padding-top: 60px;
	       }
		   .linediv-l {
			   border-right: 1px white solid;
			}  
			.linediv-r {
	        	border-left: 1px white solid;
			}
		}

      /* Landscape phones and down */
      @media (max-width: 488px) {
        	.copy {
				padding: 2.5% 10%;
			}
			.linediv-l {
				border-top: 1px white solid;
			}
			
			 img#big-bkgd {
				 margin-left: 	-200px;
			 }
			
			.image {
				float: none !important;
				margin: 0 !important;
			}
			
			img {
				margin: 0px auto;
				display: block;
			}
			
			.text-container > .feature-title {
				text-align: center;
			}
			
			/* Form */
			#input-form {
				padding: 20px
			}
			
			label {
				margin-right: 10px;
			}
			
			.name-textbox,
			.email-textbox {
				margin-bottom: 10px;
			}
	    }

      /* Main body and headings */      
      body {
        font-family: 'Open Sans', Helvetica,Arial,san-serif;		
      }
      
      .navbar-inverse .navbar-inner {
	      background: #fff !important;
		  border-bottom: none;
      }
      
      a.brand {
	      color: #666 !important;
      }
      
      li a {
	      color: #666 !important;
	      text-shadow: none !important;
      }
      
      li.active a {
	      background: #bbd5dd !important;
      }
      
      img#big-bkgd {
		  /* Set rules to fill background */
		  min-height: 100%;
		  min-width: 1024px;
	
		  /* Set up proportionate scaling */
		  width: 100%;
		  height: auto;
	
		  /* Set up positioning */
		  position: absolute;
		  top: 0;
		  left: 0;
	  }


      .container {
	      width: 100%;
      }

      h1 {
        font-size: 60px;
        color: #026792;
        z-index: 20;
        position: relative;
      }
      
      h2 {
        font-size: 32px;
        font-family: Ubuntu, sans-serif;
        color: #2babe2;
        text-align: center;
        z-index: 20;
        position: relative;
      }
      
      .heading {
	     background: #ccc;
	     margin-top: -1.4em;
	     padding-top: 2em;
	     z-index: 20;
		 position: relative;
	 
      }
      
      #about {
        font-size: 32px;
        margin-top: 50px;
        font-family: Ubuntu, sans-serif;
        color: #2babe2;
        text-align: center;
        z-index: 20;
        position: relative;
      }
      
      .heading, subheading {
        font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	    text-align: center;
	    z-index: 20;
        position: relative;
      }

      ul {
	      list-style: none;
	      z-index: 20;
		  position: relative;
      }
      
      li.feature {
	      text-align: left;
	      margin: 0 0 10px 0;
	      display: inline-block;
	      width: 100%;
      }
      
      .text-container {
	      display: inline-block;
	      width: 70%;
	      padding: 0;
	      margin: 0;
      }
      
      .text-container > h3 {
	      line-height: 1.3;
	      margin-bottom: 3px;
	      font-size: 1.3em;
	      color:	#026792;
      }
      
       .text-container > p {
	      color:	#444;
	      font-size: 1.2em;
	      line-height: normal;
      }
      
      .icon {
	      display: block;
	      width: 80px;
	      height: 80px;
	      float: left;
	      margin-right: 20px;
      }
      
      p.lead {
        padding-top: 1.5%;
	    text-align: center;
	    font-size: 24px;
	    line-height: 30px;
	    color: #666;
	    z-index: 20;
        position: relative;
	    
      }
      p.quotetext {
        font-style: italic;
        font-family: sans-serif;
        font-size: 1.3em;
        text-align: left;
        line-height: 48px;
        line-height: 1.5em;
        color: #888;
        z-index: 20;
        position: relative;
      }
      
      p {
        font-size: 18px;
	    line-height: 24px;
	    color: #333;
	    text-align: left;
      }	
  
      /* Video pitch and action */
      .pitch {
	      padding: 2.5% 0%;
      }

      .section2 {
	      background: #efefef;
      }

      #aboutvetro {
        margin-top: 10px;
      }


      .order {
	        border: 1px solid blue;
      }

      .survey {
        background-color: #fff;
        border: 1px solid #ccc;
        margin-right: 10px;
        border-radius: 7px;
        z-index: 20;
        position: relative;
        padding: 20px;
      }

	  .idea-btn {
		  background: #d8244a;
		  font-size: 1.7em;
	  }

      #survey-intro {
        font-family: Ubuntu, sans-serif;
        font-size: 1.8em;
        line-height: normal;
        text-align: center;
        color: #333;
      }
      
      .disclaimer {
	      font-size: .9em;
	      line-height: normal;
      }

      #go-survey {
        text-align: center;
        margin-top: 20px;
      }

      .borderbox {
        margin-top: 40px;
        -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
        border-radius: 5px;
      }
	  
      .video, .thermometer, .order, .social, .statistics {
        text-align: center;
      }
      .statistics h3, .statistics p {
        color: white;
      }

      #pitch-list {
        font-size: 18px;
        font-weight: bold;
      }


      #pitch-list li {
        padding: 10px;
        line-height: 25px;
        color: #333;
      }

      .details {
        margin-top: 40px;
      }
      
      #details-list li {
        padding: 10px;
        line-height: 25px;
        color: #333;
      }

    /* Feature Boxes */

    #features {
      margin-top: 10%;
      padding-bottom: 5%;
    }

    .feature-box {
      padding-right: 1%;
    }

    .feature-image {
      text-align: left;
      height: 200px;
      width: 250px;
    }

    .feature-title {
      font-family: Ubuntu,sans-serif;
      color: #2288b4; 
      text-align: left;
      font-size: 1.75em;
      margin-top: 20px;
      line-height: 30px;
    }

    .feature-content {
      margin-top: 10px; 
      font-size: 1.5em;
      text-align: left;
    }

    .feature-button {
      text-align: left;
      font-size: 1.5em;
    }

    .feature-button a:link,
    .feature-button a:visited,
    .feature-button a:hover {
      color: #939393;
      text-decoration: none;
    }

	.faq-quote-container {
		background: #fff;
		z-index: 20;
		position: relative;
	}
    /* QUOTE */ 
    #quote {
      margin-top: 70px;
      margin-bottom: 40px;
    }

    /*FAQ*/
    #faq {
      margin-top: 20px;
    }

    .accordian-heading {
	    font-size: 1.2em;
	    margin-bottom: 20px;
    }
    
    a.accordian-toggle {
	    color: #026792;
    }

    .collapse {
	    font-size: 1.2em;  
    }

    .accordian-inner {
	   padding: 0 0 20px 20px;
	   line-height: normal;
    }
	  
	  /*FORM*/
	  .form-bkgrd {
		 background: #000;
		 margin: 0;
		 padding-top: 3%;
		 z-index: 20;
		  position: relative;
	  }
	  
    .form-horizontal .controls {
      margin: auto;
    }

	  .name-textbox,
	  .email-textbox {
		  width: 35%;
		  padding: 0;
	  }
	  
	  .name-textbox > .control-label,
	  .email-textbox > .control-label {
		  color: #fff;
		  text-align: left;
		  width: 20%;
	  }

    .send-button {
      margin: 2% 0 1%;
      text-align: center;
    }
	  
    /* Marketing and Copy Footer */
    .modules-text > p {
	    text-align: center;
	    font-weight: bold;
	    font-size: 1.5em;
	    color: #2babe2;
    }

    .modules-text > ol > li {
	    font-size: 1.2em;
    }

      .copy {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        text-align: justify;
      }

      .copy-right {
	   	  padding: 30px;
      }

      .asset {
        padding: 2.5% 0%;
      }

      .contact {
	      background: #000;
	      padding-bottom: 1%;
      }

      .contact > .span12 > p {
	     text-align: center;
	     color: #888;
      }
      
       .error-message {
         display: none;
         text-align: center;
         color: #f00;
      }
      input.error-text-box {
         outline: none;
         background: #faa;
         border: 2px solid #d00;
      }
      #success {
          display: none;
          color: #2babe2;
          text-align: center;
      }
      #server-noresponse {
          display: none;
          color: #2babe2;
          text-align: center;
      }

      .footer {
      	background: #000;
        color: #cccccc;
        text-align: center;
        z-index: 20;
		    position: relative;
      }

      .footer p {
        font-size: 11px;
        color: #ccccff;
        text-align: center;
      }
      .footer a {
        color: #ffffff;
      }

      div.addthis_toolbox {
        width: 188px;
        margin: 0 auto;
      }
      
      .copyright > p > span {
	      color: #666;
	      margin: 0 10px;
      }
      

/***** INNER PAGE *****/
#more-info {
	background: #fff;
}/*more-info*/

.info-box {
	margin-bottom: 30px;
}/*info-1*/

.image {
	float: left;
	margin: 20px;
}

/*img {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}*/

